.btn.glass{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 12px 28px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px;
}

.btn.glass:hover{
    background: rgba(250, 230, 230, 0.2);
}

.btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

